<!doctype html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <script type="text/javascript" src="js/form.js"></script>
  <title>CSC 642 Summer 2019 Individual Assignment confirmation "Lidiya Jebessa"</title>


</head>

<body>

  <div class="jumbotron jumbotron-fluid">
<div class="container">
  <h1 class="display-4" align=center>You have been succesfully Registerd </h1>



  <h1 align=center>  confirmation summary</h1>

  <p align=center> First Name: <%= data.FirstName %> </p>
  <p align=center> M.I: <%= data.MiddleInitial %> </p>
  <p align=center> Last Name: <%= data.LastName %> </p>
  <p align=center> Email: <%= data.Email %> </p>
  <p align=center> Address1:<%= data.Address1 %> </p>
  <p align=center> Address2: <%= data.Address2 %> </p>
  <p align=center> City: <%= data.City %> </p>
  <p align=center> State: <%= data.State %> </p>
  <p align=center> Zip Code: <%= data.Zip %> </p>
  <p align=center> Education Level: <%= data.Education%> </p>
  <p align=center> Annual Income: <%= data.Salary%> </p>
  <p align=center> Phone: <%= data.Phone  %> </p>







<div id="map"></div>
       <script async defer
           src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAP1Ry5U_HgBzggmw8h2LPbx8x957yOMUs&callback=initMap">
           </script>



    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>










</body>

</html>
